{% extends 'website/base.html' %}

{% block title %} | Home Page {% endblock title %}

{% block contents %}
<!DOCTYPE html>
<html>

<body style="background-image: url('/static/website/images/233422.jpg');">
    <div class="row">
        <div class="col text-center"><img src="static/website/images/Baseball-clipart-black-and-white-free-clipart-images-2.jpg" style="width: 100%;height: 100%;"></div>
        <div class="col-10 header">
            <h2 class="text-center" style="color: #ffffff; font-weight: bold; margin: 20px;font-family: 'Alfa Slab One', cursive;">Jack's Baseball Tracker</h2>
        </div>
        <div class="col"><img src="static/website/images/Baseball-clipart-black-and-white-free-clipart-images-2.jpg" style="width: 100%;height: 100%;"></div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <h1 class="text-capitalize header text-center text-white" style="margin-top: 50px;filter: grayscale(0%);font-family: 'Alfa Slab One', cursive;">Games Today</h1>
            <div class="table-responsive table-bordered border rounded border-danger shadow-lg" style="margin: auto;background-color: #ffffff;width: 400px;margin-top: 0px;">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Teams Playing</th>
                            <th>Spread</th>
                            <th>Units</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                            <td>Cell 4</td>
                            <td>Cell 4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock contents %}
